<section class="profile-page">
  <h1>Profile</h1>

  <div class="profile-card">
    <h2>Basic Account Info</h2>

    <p>First Name: {{firstName}}</p>
    <p>Last Name: {{lastName}}</p>
    <p>Email: {{email}}</p>
    <p>Member Since: {{createdAt}}</p>
  </div>

  <div class="profile-card">
    <h2>Friends List</h2>

    {{#if friends.length}}
    <ul>
      {{#each friends}}
      <li>{{this.firstName}} {{this.lastName}}</li>
      {{/each}}
    </ul>
    {{else}}
    <p>You have no friends added yet.</p>
    {{/if}}
  </div>
</section>